@using FinancialPlanner.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log In";
    Layout = null;
}
@Styles.Render("~/bundles/templatestyles")
@Scripts.Render("~/bundles/modernizr")
<link href="~/Content/animate.css" rel="stylesheet" />
<!DOCTYPE html>
<html lang="en" style="background-color:white !important;width:100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <meta name="description" content="Abacus Financial Planner Log In Page">
    <meta name="author" content="Travis McDaniel">
    <title>@ViewBag.Title | Abacus</title>
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <style>
        .brand {
            font-family: 'Audiowide';
            text-transform: lowercase;
        }
    </style>
</head>
<body style="background-color:white !important;">
    <div class="container">
        <div class="row text-center">
            <h1 class="animated fadeIn brand" style="font-size:500%"><strong>Abacus Financial Planner</strong></h1>
        </div>
        <div class="row panel panel-primary" style="padding-top:50px;">
            <div class="col-md-4 col-md-offset-1">
                <div class="login-panel panel panel-default">
                    @*panel-default*@
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body" style="padding-bottom:0;margin-bottom:0;">
                        @*<form role="form">*@
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail", name = "email", type = "email", autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    @*<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>*@
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", name = "password", placeholder = "Password", type = "password", value = "" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    @*<input class="form-control" placeholder="Password" name="password" type="password" value="">*@
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                    <input type="submit" style="max-width:100%;" value="Log In" class="btn btn-lg btn-success btn-block" />
                                @*<a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>*@
                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")<br />
                                    @Html.ActionLink("Register As A New User", "Register")<br />
                                    @Html.ActionLink("I'm Already Logged In", "Index", "Home")
                                </p>
                            </fieldset>
                        }
                        @*</form>*@
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div class="login-panel panel panel-default">
                    @*panel-default*@
                    <div class="panel-heading">
                        <h3 class="panel-title">Or Use A Demo Account</h3>
                    </div>
                    <div class="panel-body" style="padding-bottom:0;margin-bottom:0;">
                        @*<form role="form">*@
                        @*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <input value="travis.d.mcdaniel@gmail.com" class="form-control" id="Email" name="Email" type="hidden" />
                            <input value="Abc&123!" class="form-control" id="Password" name="Password" type="hidden" />
                            <input type="submit" value="Administrator" class="btn btn-info btn-lg btn-block" />
                        }*@
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <input value="eddardstark@mailinator.com" class="form-control" id="Email1" name="Email" type="hidden" />
                            <input value="Abc&123!" class="form-control" id="Password" name="Password" type="hidden" />
                            <input type="submit" value="Head Of Household - Eddard" class="btn btn-info btn-lg btn-block" />
                        }
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <input value="catelynstark@mailinator.com" class="form-control" id="Email2" name="Email" type="hidden" />
                            <input value="Abc&123!" class="form-control" id="Password" name="Password" type="hidden" />
                            <input type="submit" value="Member Of Household - Catelyn" class="btn btn-info btn-lg btn-block" />
                        }
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <input value="theongreyjoy@mailinator.com" class="form-control" id="Email3" name="Email" type="hidden" />
                            <input value="Abc&123!" class="form-control" id="Password" name="Password" type="hidden" />
                            <input type="submit" value="Guest - Theon" class="btn btn-info btn-lg btn-block" />
                        }
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <input value="ashagreyjoy@mailinator.com" class="form-control" id="Email4" name="Email" type="hidden" />
                            <input value="Abc&123!" class="form-control" id="Password" name="Password" type="hidden" />
                            <input type="submit" value="Guest - Asha" class="btn btn-info btn-lg btn-block" />
                        }
                        @*</form>*@
                    </div>
                </div>
            </div>

        </div>
    </div>
    

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/templatescripts")
</body>
</html>
