@using FinancialPlanner.Helpers;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage";
}

<h2 class="brand">@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<a href="@Url.Action("Index", "Home")">Return To Dashboard</a>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>User Info:</dt>
        <dd>
            [ @Html.ActionLink("Change your user info", "ChangeUserInfo", new { userId = User.Identity.GetUserId() }) ]
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Household:</dt>
        @if (Utilities.IsUserInAHousehold(User.Identity.GetUserId()))
        {
            <dd>@Utilities.GetUsersHousehold(User.Identity.GetUserId()).Name - @Html.ActionLink("Leave Household", "LeaveHousehold")</dd>
        }
        else
        {
            <dd>You are not currently in a household.</dd>
        }
    </dl>
</div>
